body{
  background-color: #000;
  text-align: center;
  margin: 0;
  overflow: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif ;
  letter-spacing: 2px;
}

@media only screen and (orientation:portrait){
  body {
    height: 100vw;
    width:100vh;
    transform: rotate(90deg);
  }
}

.GameInfo{
    position: absolute;
    top: 5vh;
    display: flex;
    text-align: center;
    width: 100vw;
    margin: auto;
    color: white;
    z-index: -1;
    font-size:2em;
}

.GameInfo>div{
    width: 30vw;
}

.players{
  width: 50vw;
  margin: auto;
  display: flex;
  background-color: black;
  justify-content: space-around;
  visibility: hidden;
}

.info{
  position: absolute;
  font-size: 2em;
  top: 5vh;
  left: 90vw;
  outline:none;
  background-color:white;
  border-radius:10px;
  height: 10vh;
  width: 10vh;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif ;
  border:4px solid rgb(120, 120, 120);
}

#rules_heading{
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  color: red;
}

.how-to-play{
  margin-top: 0;
  height: 90vh;
  visibility: hidden;
  position: absolute;
  background-color: black;
  text-align: justify;
  line-height: 2em;
  opacity: 0.95;
  top: -100vh;
  z-index: 99999;
  font-size: 1.5em;
  color: white;
  padding: 5vh;
  transition: transform 1s;
  overflow-y: scroll;

}

.players>div{
  height: 10vh;
  width: 10vw;
  align-self: stretch;
}

.container{
  visibility: hidden;
  position: absolute;
  top: 15vh;
  left: 8vw;
  display: grid;
  grid-gap: 0.2em;
  background-color:red;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: 0.2em solid red;
}

.container>div{
  background:rgb(20 , 20, 20);
  height: 7vw;
  width: 7vw;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.container>div>div{
  height:20px;
  width:20px;
  left: 4vh;
  top: 6vh;
  margin-top: -10px;
  margin-left: 10px;
  border-radius:50%;
  z-index:3;
  position: relative;
  animation: rotate 2s linear 0s infinite alternate;
  transform-origin: 45% 45% ; 
  /* animation: split_right 2s linear 0s infinite;   */
}

@keyframes rotate{
  from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);

    }
}

@keyframes split_right{
  from { left:4vh;top:7vh;}
  to {left:14vh;top:7vh;}
}
@keyframes split_top{
  from { top:4vh;left: 4vh;}
  to {top:-10vh;left: 4vh;}
}
@keyframes split_left{
  from { left:4vh;top:4vh;}
  to {left:-10vh;top:4vh;}  
}
@keyframes split_down{
  from { top:4vh;left: 4vh;}
  to {top:14vh;left: 4vh;}
}

#text{
  background-color: wheat;
}

#modal{
  height: 100vh;
  width: 100vw;
  background-color: #111122;
  transition: transform 1s;
  z-index: 4;
}
.animated_title{
  color: red;
  font-size:10vw;
  position: absolute;
  top: 30%;
  width: 100vw;
  
}
/* .text_hider{
  position: absolute;
  top: 20%;
  width: 100vw;
  height: 8em;
  transition: transform 5s;
  z-index: 9999;
} */
#start{
  position: absolute;
  top: 60%;
  left: 45%;
  padding: 1.5em;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  font-size: 1.5em;
  outline: none;
}

button:active{
  transform: scale(1.1);
}

#over{
  visibility: hidden;
  height: 100vh;
  width: 100%;
  background-color: rgba(20,20,20,0.9);
}
#over>button{
  position: absolute;
  top: 45%;
  left: 45%;
  position: absolute;
  padding: 1.5em;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  font-size: 1.5em;
  outline: none;
}

#winner{
  position: absolute;
  top: 33%;
  left: 40%;
  color: white;
  font-size: 2em;
}


@media screen and (min-aspect-ratio: 13/7) {
  .container>div{
    height: 13vh;
    width: 13vh;
  }
}
