@media all and (min-width: 720px){
    .heading{
        margin-top: 2vh;
        font-size: 2em;
        width: 68vw;
        margin-bottom: 5vh;
    }
    .other-elem{
        min-width: 10vw;
        position: fixed;
        top: 1vh;
        right: 1vh;
    }
    .instruction-button{
        position: fixed;
        top: 5vh;
        left: 5vw;
    }
    .player{
        font-size: 1em;
    }
    .user{
        font-size: 0.7em;
        margin-top: .75vh;
    }
    .player-img{
        height: 10vh;
        
        width: 0vh;
        margin: 3vh;
    }
    .dash0{
        height: 10vh;
        width: 10vh;
    }
    .box{
        top: 20vh;
        left: 30vw;
    }
    .box,.instructions{
        width: 40vw;
        height: 40vw;
        padding: 1vw;
    }
    .instructions{
        padding: 3vw;
    }
    .instructions{
        min-height: 40vw;
        overflow: hidden;
    }
    .small-box{
        height: 10vw;
        width: 10vw;
        margin: 1vw;

        padding: 0.5vw;
    }
    .space{
        height: 2vw;
        width: 2vw;
        padding: 0.333333vw;
    }
}

@media all and (max-width: 719px){
    .heading{
        margin-top: 4vh;
        font-size: 3em;
        width: 100vw;
        margin-bottom: 10vh;
        word-wrap: none;
    }
    .instruction-button{
        margin-top: 15vh;
    }
    .other-elem{
        min-width: 10vw;
        
        flex-direction: column;
        /* position: fixed;
        top: 15vh;
        right: 1vh; */
    }
    .player{
        font-size: 1em;
        position: fixed;
        top: 23vh;
        left: 38vw;
        width: 25vw;
    }
    .user{
        font-size: 0.8em;
        margin-top: .5vh;
    }
    .player-img{
        height: 4vh;
        display: none;
        width: 4vh;
        margin: 3vh;
        position: fixed;
        top: 18vh;
        right: 23vw;
    }
    .dash0{
        height: 4vh;
        width: 4vh;
    }
    .box{
        top: 30vh;
        left: .53vw;
    }
    .box,.instructions{
        width: 95vw;
        height: 95vw;
        padding: 1vw;
        margin-top: 7vh;
    }
    
    .small-box{
        height: 25vw;
        width: 25vw;
        margin: 1.75vw;

        padding: 0.5vw;
    }
    .space{
        height: 6vw;
        width: 6vw;
        padding: 0.333333vw;
    }
}
@media all and (max-width: 1130px){
    .instructions{
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

body{
    overflow-x: hidden;
    background-color: #17252A;
    margin: 0;
}
.wrapper{
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #17252A;
    font-family: 'Ubuntu',sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    color: #66FCF1;
    overflow-x: hidden;
}
.heading{
    
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bolder;

    color: #ffffff;
}
.other-elem{
    display: flex;
    justify-content: space-evenly;
    align-items: center;



}
.instruction-button{
    position: fixed;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 1em;
    color: #add3e0;
    cursor: pointer;
}
#self_timer{
    font-size: 0.7em;
    color:white;
    padding-top: 0.5em;
}
.player{

    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

.dash0{
    stroke:#17252A;

    stroke-width:3;
    fill:none;
}
.box,.end,.instructions{
    border:solid 4px transparent;
    background-color: #2c4047;
    fill-opacity: 0.5;


}
.box{
    position: fixed;
}
.instructions{
    
    display: flex;
    flex-direction: column;
}
.instruction-heading{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 3vh;
    color: #ffffff;
}
.close-button{
    position: relative;
    text-align: right;
    right: 0;
    top: 0;
    font-size: small;
    color: #add3e0;
    cursor: pointer;
}
.content{
    font-size: medium;
    font-weight: lighter;
    color: #ffffff
}
.end{
    padding: 5vh;
    border-radius: 5px;
    margin-top: 15vh;
    min-height: 20vh;
    min-width: 20vw;
    font-weight: bolder;
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #add3e0;
}
.box,.small-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
}
.big-row,.small-row{
    display: flex;
    justify-content: center;
    align-items: center;

}
.small-box{
    
    opacity: 1;
    z-index: 2;
    background-color:#17252A ;
    border: 3px solid transparent;
}
.space{
    opacity: 1;
    border-bottom: 1px #2c4047 solid;
    border-right: 1px #2c4047 solid;

}
.small-row>.space:last-child{
    border-right: 0px #2c4047 solid;

}
.small-box>.small-row:last-child>.space{

    border-bottom:  0px #2c4047 solid;

}
.space:hover{
    background-color: #2c4047;

}
.player1{
    background-color: #66FCF1;
}
.player2{
    background-color: white;
}
.number{
    height: 100%;
    width: 100%;
    border-radius: 5px;

}
